<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pipenetwork.graph.mapper.UserMapper">
    <select id="getInfo" parameterType="String" resultType="com.pipenetwork.graph.bean.UserBean">
        SELECT * FROM User_Table WHERE Username = #{Username} AND Password = #{Password}
    </select>

    <!--<insert id="insert" parameterType="com.pipenetwork.graph.bean.UserBean" useGeneratedKeys="true" keyProperty="Userid">
        insert into userinfo(Userid,Username,Password,Role) values (#{Userid},#{Username},#{Password},#{Role})
    </insert>-->

</mapper>